body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    max-width: 80%;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1{
    text-align: center;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#predictionForm, #result {
    margin: 0 auto;
    max-width: 600px;
}